
/* ----------------Scolling Text Key Frame ---------------*/
@keyframes scrolling {
    0% {
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}
/* ----------------Scolling Text Key Frame End --------------*/


/* ------------Body Css------------------------------------- */
body{
    background-image: url(https://www.zingerbug.com/Backgrounds/background_images/leopard_print.jpg);
    color: white;
}
/* ------------Body Css End---------------------------------- */


/* ------------Navbar Css----------------------------------- */
.navbar{
    /* background-image: url(https://www.zingerbug.com/Backgrounds/background_images/leopard_print.jpg); */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/21/Solid_black.svg);
    color: white;

}
.navbar-brand{
    color: white;
}
.nav-link active{
    color: white;
}
.nav-link{
    color: white;

}
.nav-item{
    color: white;

}
.navbar-nav  {
    color: rgb(249 241 241);
}




/* ------------Navbar Css End-------------------------------- */


/* -------------Scrolling Text Css-------------------------- */

.scrollingTxt{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Cheetah', sans-serif;
    font-size: 100px;
    /* position: absolute; */
}

.scrollingTxt span{
    display: inline-block;
    padding-left: 100%;
    animation: scrolling 5s linear infinite;
}
/* -------------Scrolling Text Css End---------------------- */


/* ---------------Login and Register Pages------------------ */
.container{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    align-items: space-between;
}
.boxOne{
    border-style: groove;
    padding: 5px;
}
.boxTwo{
    border-style: groove;
    width: 175px;
    padding: 5px;
}
.iconOne{
    margin-left: 10px;
}
.faceOne{
    margin-left: 50px;
}
.logInBox{
    margin-left: 500px;
    padding: 10px;
}
.logIn{
    margin-left: 50px;
}
.signUpBox{

    padding: 10px;
    padding-left: 500px;

}
.iconTwo{
    margin-left: 18px;
}
.faceTwo{
    margin-left: 50px;
}

.signUp{
    margin-left: 50px;
}
/* --------------Login and Register Pages End----------- */


/* -------------------- cat image Box css--------------- */

.catOne{
    height: 250px;
    width: 425px;
}
.catTwo{
    height: 250px;
    width: 425px;
}

.catThree{
    height: 250px;
    width: 425px;
}
.catFour{
    height: 250px;
    width: 425px;
}
.picBoxOne{
    margin: 1em;
    display: flex;
    justify-content: space-around;
}
.picBoxTwo{
    margin: 1em;
    display: flex;
    justify-content: space-around;
}
.playTxt{
    display: flex;
    justify-content: center;
}
/* -------------------- cat image Box css End------------ */



/* ---------------Table Css----------------------------- */

.menuItems {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
  }


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: black;
  }

  tr:nth-child() {
    background-color: black;
  }

/* ---------------Table Css End------------------------- */

/* --------------Footer Css----------------------------- */
.footer-basic {
    padding:40px 0;
    /* background-image: url(https://www.zingerbug.com/Backgrounds/background_images/leopard_print.jpg); */
    background-color: black;
    color:white;
  }

  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic li {
    padding:0 10px;
  }

  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }

  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }

  .footer-basic .social > a:hover {
    opacity:0.9;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }



/* --------------Footer Css End------------------------- */
